$purple: #8F71FF;
$pink: #FF5D9E;
$yellow: #FFDB6A;
$green: #009C8E;
$blue: #82ACFF;
$white: #fff;
$black: #3D3D3D;
$cinza: #E5E5EA;
$red: #FF5D5D;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Roboto', Arial, Helvetica, sans-serif;

$transition: .35s ease-in-out;